/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  color: var(--text-color);
  background-color: var(--bg-color);
  background-attachment: fixed;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  z-index: -1;
  background: var(--bg-url) center / cover no-repeat;
  background-attachment: fixed;
}

.decor_right {
  display: flex;
  justify-content: right;
  padding-top: 10px;
  padding-right: 10px;
}

.decor_left {
  display: flex;
  padding-bottom: 10px;
  padding-left: 10px;
}

.header__decoration {
  font-weight: 400;
  line-height: 25px;
  color: var(--accent-color);
  margin-right: 4px;
}

.decoration_corner {
  height: 25px;
  width: 25px;
  border-top: 1px solid var(--corner-color);
  border-right: 1px solid var(--corner-color);
}

.header .decoration_corner::before {
  content: '';
  position: absolute;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  margin-top: 7px;
  margin-left: 7px;
}

.decor_bottom {
  height: 25px;
  width: 25px;
  border-left: 1px solid var(--corner-color);
  border-bottom: 1px solid var(--corner-color);
}

.main {
  padding: 0 10px;
}

.header {
  position: relative;
  height: 100vh;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  padding-top: 39px;
  padding-right: 10px;
}

.header__theme-menu-button {
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: var(--buttons-color);
  background: transparent;
  border: none;
  text-transform: lowercase;
  padding: 0 13px;
  height: 26px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--buttons-color-hover);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--buttons-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--buttons-color);
  pointer-events: none;
}

.title_accent {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--accent-title-color);
  text-shadow: 4px 4px 0 #ff0070;
  margin-bottom: 55px;
  margin-top: 65px;
  padding: 0 10px;
}

.header__title {
  color: var(--text-color);
  background: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
  margin: 55px 10px 31px 10px;
  min-height: 117px;
}

.header__description {
  color: var(--section-title-color);
  background: var(--accent-color);
}

.section__title {
  color: var(--section-title-color);
  margin-bottom: 20px;
  font-size: inherit;
  padding-top: 50px;
}

.section__1 > .section__title {
  padding-top: 40px;
}

.section__description {
  background: var(--accent-color);
  margin-bottom: 10px;
  font-size: inherit;
}

.section__4 > .section__description {
  margin-top: 40px;
}

.section__paragraph {
  font-weight: 400;
  color: var(--section-paragraf-color);
  margin-bottom: 20px;
  font-style: normal;
}

.section__paragraph:last-child {
  margin-bottom: 0;
}

.section__description_regular {
  font-weight: 400;
  background: var(--accent-color);
  margin-bottom: 10px;
  font-size: inherit;
}

.section__paragraph_link {
  text-shadow: 2px 2px var(--link-color);
  text-decoration: none;
}

.section__paragraph_link:hover {
  text-decoration: underline;
}

.section__paragraph_link:focus {
  outline: none;
}

.section__paragraph_link:focus-visible {
  outline: 1px solid var(--section-paragraf-color);
}

.section__3 > .section__description {
  margin-bottom: 20px;
}

.section__gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__gallery > .section__description {
  margin-top: 50px;
  margin-bottom: 0;
}

.section__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  margin-top: 40px;
  height: 100vh;
}

.footer__title_accent {
  font-size: 116px;
  color: var(--accent-title-color);
  text-shadow: 2px 2px #ff0070;
  padding: 251px calc((100% - 348px) / 2) 250px;
  font-style: normal;
  line-height: 82.5%;
}

@media (min-width: 768px) {
  .header__theme-menu-list {
    padding-top: 146px;
    margin-right: 20px;
    padding-right: 0;
  }

  .header__title {
    margin: 162px 20px 138px 50%;
  }

  .header {
    margin-bottom: 60px;
  }

  .title_accent {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 82.5%;
    margin-top: 173px;
    margin-bottom: 162px;
    margin-left: 0;
    padding: 0;
  }

  .decor_right {
    padding-top: 20px;
    padding-right: 20px;
  }

  .decor_bottom {
    padding-bottom: 20px;
    margin: 0;
  }

  .decor_left {
    padding-bottom: 20px;
    padding-left: 20px;
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 0 20px;
  }

  .section__title {
    max-width: 236px;
    margin: 0;
    padding: 0 0 20px 0
  }

  .section__1 > .section__title {
    padding-top: 0;
  }

  .section__paragraph {
    font-style: normal;
  }

  .section__1 {
    display: grid;
    grid-template-columns: 1fr 20px 2fr;
  }

  .section__1_1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: span 4;
  }

  .section__1_2 {
    grid-row-start: 1;
    grid-column-start: 3;
  }

  .section__1_3 {
    grid-row-start: 2;
    grid-column-start: 3;
  }

  .section__1_4 {
    grid-row-start: 3;
    grid-column-start: 3;
  }

  .section__1_5 {
    grid-row-start: 4;
    grid-column-start: 3;
  }

  .section__3 {
    display: grid;
    grid-template-columns: 1fr 20px 2fr;
  }

  .section__3_1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: span 11;
  }

  .section__3_2 {
    grid-row-start: 1;
    grid-column-start: 3;
  }

  .section__3 > .section__description {
    margin-bottom: 20px;
  }

  .section__3_3 {
    grid-row-start: 2;
    grid-column-start: 3;
  }

  .section__3_4 {
    grid-row-start: 3;
    grid-column-start: 3;
  }

  .section__3_5 {
    grid-row-start: 4;
    grid-column-start: 3;
  }

  .section__3_6 {
    grid-row-start: 5;
    grid-column-start: 3;
  }

  .section__3_7 {
    grid-row-start: 6;
    grid-column-start: 3;
  }

  .section__3_8 {
    grid-row-start: 7;
    grid-column-start: 3;
  }

  .section__3_9 {
    grid-row-start: 8;
    grid-column-start: 3;
  }

  .section__3_10 {
    grid-row-start: 9;
    grid-column-start: 3;
  }

  .section__3_11 {
    grid-row-start: 10;
    grid-column-start: 3;
  }

  .section__3_12 {
    grid-row-start: 11;
    grid-column-start: 3;
  }

  .section__gallery {
    display: grid;
    gap: 20px;
  }

  .section__gallery > .section__description {
    margin-top: 0;
    margin-bottom: 0;
  }

  .section__4 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .section__4_1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: span 3;
  }

  .section__4_2 {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: span 2;
  }

  .section__4_3 {
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: span 2;
    grid-column-end: 3;
  }

  .section__4_4 {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: span 2;
    grid-column-end: 1;
  }

  .section__4_5 {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 2;
  }

  .section__4_6 {
    grid-row-start: 4;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: span 2;
  }

  .footer {
    margin-top: 60px;
  }

  .footer__title_accent {
    font-size: 120px;
    padding: 418px calc((100% - 360px) / 2) 417px;
  }
}

@media (min-width: 1024px) {
  .decorated-zone::before {
    opacity: 1;
  }

  .header__navigation {
    display: grid;
    grid-template-columns: 1fr 230px 1fr 81px;
    grid-template-rows: 1fr;
  }

  .header__navigation_1 {
    grid-column-start: 4;
    grid-row-start: 1;
  }

  .header__navigation_2 {
    grid-column-start: 2;
    grid-row-start: 1;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    padding: 20px 0 0;
    margin: 0 0 0 calc(81px / 2);
  }

  .header__title {
    margin: 0 20px 89px 50%;
    min-height: 71px;
  }

  .header {
    margin-bottom: 60px;
  }

  .title_accent {
    font-size: 157px;
    line-height: 82.5%;
    margin: 273px 0 114px;
    padding: 0;
    font-style: normal;
  }

  .decor_right {
    padding-top: 20px;
    padding-right: 20px;
  }

  .decor_left {
    padding-bottom: 20px;
    padding-left: 20px;
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 0 20px;
  }

  .section__title {
    max-width: 315px;
    margin: 0 0 20px 0;
  }

  .section__description {
    margin: 0;
  }

  .section__paragraph {
    padding-top: 10px;
  }

  .section__1 {
    display: grid;
    grid-template-columns: 1fr 20px 2fr;
  }

  .section__2 {
    display: grid;
    grid-template-rows: 67px 23px 1fr;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }

  .section__2_1 {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: span 2;
  }

  .section__2_2 {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .section__2_3 {
    grid-column-start: 1;
    grid-row-start: 3;
  }

  .section__2_4 {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .section__2_5 {
    grid-column-start: 2;
    grid-row-start: 3;
  }

  .section__2_6 {
    grid-column-start: 3;
    grid-row-start: 2;
  }

  .section__2_7 {
    grid-column-start: 3;
    grid-row-start: 3;
  }

  .section__3 > .section__paragraph {
    padding: 0;
  }

  .footer__title_accent {
    font-size: 157px;
    padding: 274px calc((100% - 471px) / 2);
  }


}
