/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  color: var(--text-color);
  background-color: var(--bg-color);
  background: var(--bg-url) center / cover no-repeat;
  background-attachment: fixed;
  /*opacity: .5;*/
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  margin-right: 10px;
  margin-top: 10px;
  height: 25px;
  width: 25px;
  border-top: 1px solid var(--corner-color);
  border-right: 1px solid var(--corner-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin-left: 10px;
  margin-bottom: 10px;
  height: 25px;
  width: 25px;
  border-bottom: 1px solid var(--corner-color);
  border-left: 1px solid var(--corner-color);
}

.header__decoration {
  font-weight: 400;
  line-height: 25px;
  color: var(--accent-color);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  margin-right: 39px;
  margin-top: 10px;
}

.header .header__decoration::after {
  content: '';
  position: absolute;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  margin-top: 9px;
  margin-left: 10px;
  z-index: -1;
}

.main {
  padding: 0 10px;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 668px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  padding-top: 74px;
  padding-right: 10px;
}

.header__theme-menu-button {
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: var(--buttons-color);
  background: transparent;
  border: none;
  text-transform: lowercase;
  padding: 0 13px;
  height: 26px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--buttons-color-hover);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--buttons-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--buttons-color);
  pointer-events: none;
}

.title_accent {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--accent-title-color);
  text-shadow: 4px 4px 0 var(--shadow-color);
  margin-top: 67px;
  padding: 0 10px;
}

.header__title {
  color: var(--text-color);
  background: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
  margin: 56px 10px 0 10px;
}

.header__description {
  color: var(--section-title-color);
  background: var(--accent-color);
}

.section__title {
  color: var(--section-title-color);
  margin-bottom: 20px;
  font-size: inherit;
  padding-top: 50px;
}

.section__why > .section__title {
  padding-top: 40px;
}

.section__description {
  background: var(--accent-color);
  margin-bottom: 10px;
  font-size: 18px;
}

.section__gallery > .section__description {
  margin-top: 40px;
}

.section__paragraph {
  font-weight: 400;
  color: var(--section-paragraf-color);
  margin-bottom: 20px;
  font-style: normal;
}

.section__paragraph:last-child {
  margin-bottom: 0;
}

.section__description_regular {
  font-weight: 400;
  background: var(--accent-color);
  margin-bottom: 10px;
  font-size: 18px;
}

.section__paragraph_link {
  text-shadow: 2px 2px var(--link-color);
  text-decoration: none;
}

.section__paragraph_link:hover {
  border-bottom: 1px solid var(--buttons-color);
}

.section__paragraph_link:focus {
  outline: none;
}

.section__paragraph_link:focus-visible {
  outline: 1px solid var(--section-paragraf-color);
}

.section__how > .section__description {
  margin-bottom: 20px;
}

.section__gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__gallery > .section__description {
  margin-top: 50px;
  margin-bottom: 0;
}

.section__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  margin-top: 40px;
  height: 100vh;
  min-height: 668px;
  display: flex;
}

.footer__title_accent {
  display: flex;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--accent-title-color);
  text-shadow: 4px 4px 0 var(--shadow-color);
  font-style: normal;
  line-height: 82.5%;
  width: 100%;
  align-self: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .decorated-zone::before {
    margin-right: 20px;
    margin-top: 20px;
  }

  .decorated-zone::after {
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .header__decoration {
    margin-right: 49px;
    margin-top: 20px;
  }

  .header__theme-menu-list {
    padding-top: 192px;
    margin-right: 20px;
    padding-right: 0;
  }

  .header__title {
    margin: 162px 20px 138px 50%;
  }

  .header {
    margin-bottom: 60px;
    min-height: 1024px;
  }

  .title_accent {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 82.5%;
    margin-top: 173px;
    margin-bottom: 162px;
    margin-left: 0;
    padding: 0;
    text-shadow: 4px 4px 0 var(--shadow-color);
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 0 20px;
  }

  .section__title {
    max-width: 236px;
    margin: 0;
    padding: 0 0 20px 0
  }

  .section__why > .section__title {
    padding-top: 0;
  }

  .section__paragraph {
    font-style: normal;
  }

  .section__why {
    display: grid;
    grid-template-columns: 1fr 20px 2fr;
  }

  .section__why_1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: span 4;
  }

  .section__why_2 {
    grid-row-start: 1;
    grid-column-start: 3;
  }

  .section__why_3 {
    grid-row-start: 2;
    grid-column-start: 3;
  }

  .section__why_4 {
    grid-row-start: 3;
    grid-column-start: 3;
  }

  .section__why_5 {
    grid-row-start: 4;
    grid-column-start: 3;
  }

  .section__how {
    display: grid;
    grid-template-columns: 1fr 20px 2fr;
  }

  .section__how_1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: span 11;
  }

  .section__how_2 {
    grid-row-start: 1;
    grid-column-start: 3;
  }

  .section__how > .section__description {
    margin-bottom: 20px;
  }

  .section__how_3 {
    grid-row-start: 2;
    grid-column-start: 3;
  }

  .section__how_4 {
    grid-row-start: 3;
    grid-column-start: 3;
  }

  .section__how_5 {
    grid-row-start: 4;
    grid-column-start: 3;
  }

  .section__how_6 {
    grid-row-start: 5;
    grid-column-start: 3;
  }

  .section__how_7 {
    grid-row-start: 6;
    grid-column-start: 3;
  }

  .section__how_8 {
    grid-row-start: 7;
    grid-column-start: 3;
  }

  .section__how_9 {
    grid-row-start: 8;
    grid-column-start: 3;
  }

  .section__how_10 {
    grid-row-start: 9;
    grid-column-start: 3;
  }

  .section__how_11 {
    grid-row-start: 10;
    grid-column-start: 3;
  }

  .section__how_12 {
    grid-row-start: 11;
    grid-column-start: 3;
  }

  .section__gallery {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .section__gallery > .section__description {
    margin-top: 0;
    margin-bottom: 0;
  }

  .section__gallery_1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: span 3;
  }

  .section__gallery_2 {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: span 2;
  }

  .section__gallery_3 {
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: span 2;
    grid-column-end: 3;
  }

  .section__gallery_4 {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: span 2;
    grid-column-end: 1;
  }

  .section__gallery_5 {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 2;
  }

  .section__gallery_6 {
    grid-row-start: 4;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: span 2;
  }

  .footer {
    margin-top: 60px;
    min-height: 1024px;
  }

  .footer__title_accent {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (min-width: 1024px) {
  .decorated-zone::before {
    margin-right: 20px;
    margin-top: 20px;
  }

  .decorated-zone::after {
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .header__decoration {
    margin-right: 49px;
    margin-top: 20px;
  }

  .header__theme-menu {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 20px 0 0 0;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
  }

  .header__title {
    margin: 0 20px 134px 50%;
  }

  .header {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    min-height: 768px;
  }

  .title_accent {
    display: flex;
    align-items: center;
    height: 100%;
    line-height: 82.5%;
    margin: 0;
    padding: 159px 0 0 0;
    font-style: normal;
    text-shadow: 4px 4px 0 #ff0070;
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 0 20px;
  }

  .section__title {
    max-width: 315px;
    margin: 0 0 20px 0;
  }

  .section__description {
    margin: 0;
  }

  .section__paragraph {
    padding-top: 10px;
  }

  .section__why {
    display: grid;
    grid-template-columns: 1fr 20px 2.06fr;
  }

  .section__what {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }

  .section__what_1 {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: span 2;
  }

  .section__what_2 {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .section__what_3 {
    grid-column-start: 1;
    grid-row-start: 3;
  }

  .section__what_4 {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .section__what_5 {
    grid-column-start: 2;
    grid-row-start: 3;
  }

  .section__what_6 {
    grid-column-start: 3;
    grid-row-start: 2;
  }

  .section__what_7 {
    grid-column-start: 3;
    grid-row-start: 3;
  }

  .section__how {
    grid-template-columns: 1fr 20px 2.06fr;
  }
  
  .section__how > .section__paragraph {
    padding: 0;
  }

  .footer {
    min-height: 768px;
  }
}
